// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

body {
  padding: 20px;
}

.question {
  font-weight: bold;

  .answer {
    font-weight: normal;
  }

  label {
    font-weight: normal;
  }

}
