<div class="results">
<% unless @candidates.nil? %>
  <div class="cards">
    <% @candidates.each do |value| %>
      <div class="card">
        <div class="card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
        </div>

        <div class="card-header">
          <%= value.first.name %>
        </div>

        <div class="card-copy">
          <ul>
            <% value.second.each do |answer| %>
              <li class="question">
                <%= answer.question.body %>
                <ul><li class="answer"><%= answer.body %></li><ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>You should answer some questions if you want to see something here.</h1>
<% end %>

<%= button_to 'Take it again', root_path, method: :get %>
</div>
